<h2>Display Headings</h2>

<table class="table">
  <thead>
    <tr>
      <th>Heading</th>
      <th>Example</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <code>&lt;h1 class="display-1"&gt;&lt;/h1&gt;</code>
      </td>
      <td><span class="h1 display-1">h1. Bootstrap heading</span></td>
    </tr>
    <tr>
      <td>
        <code>&lt;h2 class="display-2"&gt;&lt;/h2&gt;</code>
      </td>
      <td><span class="h2 display-2">h2. Bootstrap heading</span></td>
    </tr>
    <tr>
      <td>
        <code>&lt;h3 class="display-3"&gt;&lt;/h3&gt;</code>
      </td>
      <td><span class="h3 display-3">h3. Bootstrap heading</span></td>
    </tr>
    <tr>
      <td>
        <code>&lt;h4 class="display-4"&gt;&lt;/h4&gt;</code>
      </td>
      <td><span class="h4 display-4">h4. Bootstrap heading</span></td>
    </tr>
    <tr>
      <td>
        <code>&lt;h5 class="display-5"&gt;&lt;/h5&gt;</code>
      </td>
      <td><span class="h5 display-5">h5. Bootstrap heading</span></td>
    </tr>
    <tr>
      <td>
        <code>&lt;h6 class="display-6"&gt;&lt;/h6&gt;</code>
      </td>
      <td><span class="h6 display-6">h6. Bootstrap heading</span></td>
    </tr>
  </tbody>
</table>
